{% load i18n %}
<nav class="navbar navbar-expand-md bg-gradient bg-success navbar-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "project_list" %}">{% trans "Project Management" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "project_list" %}">{% trans "Home" %}</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <ul class="navbar-nav me-3 mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">{% trans "Profile" %}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">{% trans 'Logout' %}</button>
                </form>
              </li>
              </ul>
          </li>
        </ul>
        <form action="{% url 'project_list' %}" method="GET" class="d-flex">
          <div class="input-group">
            <input 
              type="text"
              name="q"
              class="form-control"
              placeholder="{% trans "Search" %}"
              value="{{request.GET.q}}">
            <button class="btn btn-outline-light" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-light">{% trans "Login" %}</a>
      {% endif %}
    </div>
  </div>
</nav>